<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>

      <netNamedPipeBinding>
        <binding name="pipeBinding">
          <security mode="None"/>
        </binding>
      </netNamedPipeBinding>

    </bindings>
    <services>
      <service name="OdSyncService.OdSyncStatusWS"  behaviorConfiguration="mainBehavior" >
      <host>
      <baseAddresses>
        <add baseAddress="net.pipe://localhost/IOdSyncStatusWS/" />
        <!-- <add baseAddress="http://localhost:9090/IOdSyncStatusWS/"/> -->
      </baseAddresses>
      </host>
        <endpoint address=""  binding="netNamedPipeBinding" bindingName="pipeBinding" contract="OdSyncService.IOdSyncStatusWS"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <!--
        <endpoint address=""  binding="basicHttpBinding" contract="OdSyncService.IOdSyncStatusWS"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        -->

      </service>
    </services>
    <behaviors>

      <serviceBehaviors>
        <behavior name="mainBehavior">
          <serviceThrottling maxConcurrentCalls="64"
              maxConcurrentInstances="464"
              maxConcurrentSessions="400" />
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
  </system.serviceModel>


</configuration>